.container {
    margin-top: 2%;
}

#curso {
    margin-bottom: 2%;
    background-color: #30383f;
    color: #ebe07e;
    width:100%;
    padding: auto;
}

.card-title {
    color: aliceblue;
    background-color: #005f9d;

}